*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: 100%;
	background: #42455a;
}

.menu ul{
	display: inline-flex;
	margin: 50px;
}

.menu ul li{
	list-style: none;
	margin: 0px 30px;
	color: #b2b1b1;
	cursor: pointer;
}
.menu img{
	width: 40px;
}

.logo img{
	width: 40px;
	margin-top: -10px;
	margin-right: 40px;
}

.active{
	color: #19dafa !important;
}

.signup-btn{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
}

.app-picture{
	width: 40%;
	float: left;
	margin-top: -10px;
	margin-left: 50px;
}

.app-picture img{
	width: 40%;
	border-radius: 50%;
	opacity: 0.6;
}

.myname h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	left: 340px;
	width: 20%;
	position: absolute;
	top: 120px;

}

.summary{
	top: 160px;
	width: 30%;
	left: 340px;
	text-align: justify;
	position: absolute;
	color: #fff;
	text-decoration: none;
	/*
	border: 2px transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455a),
	radial-gradient(circle at top left, #fd00da, #19d7f8);
	background-origin: border-box;
	background-clip: content-box, border-box;
	*/
}

